# Build outputs
bin/
*.dll
*.so
*.dylib
*.lib
*.exp
*.exe
*.pdb

# Object files and compilation cache
*.obj
*.o
.odin-bin/
.odin-cache/

# System / Editor configs
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln
*.vcxproj
*.filters

# OS temporary files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
